https://github.com/microsoft/recommenders/blob/main/examples/01_prepare_data/data_split.ipynb

In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm

ml-1m

In [2]:
column_names = ['MovieID', 'Title', 'Genres']
movies = pd.read_csv("./ml-1m/movies.dat", sep = "::", names = column_names, encoding='latin-1', engine='python')

column_names = ['User_ID', 'Gender', 'Age', 'Occupation', 'Zip-code']
users = pd.read_csv("./ml-1m/users.dat", sep = "::", names = column_names, engine='python')

column_names = ['User_ID', 'MovieID', 'Rating', 'Timestamp']
ratings = pd.read_csv("./ml-1m/ratings.dat", sep = "::", names = column_names, engine='python')
ratings.head()

   User_ID  MovieID  Rating  Timestamp
0        1     1193       5  978300760
1        1      661       3  978302109
2        1      914       3  978301968
3        1     3408       4  978300275
4        1     2355       5  978824291

In [3]:
id2user = dict(enumerate(users.User_ID.unique()))
user2id = {j:i for i, j in id2user.items()}

id2item = dict(enumerate(movies.MovieID.unique()))
item2id = {j:i for i, j in id2item.items()}

In [4]:
ratings['User_ID'] = ratings['User_ID'].map(lambda x: user2id[x]) 
ratings['MovieID'] = ratings['MovieID'].map(lambda x: item2id[x]) 
users['User_ID'] = users['User_ID'].map(lambda x: user2id[x]) 
movies['MovieID'] = movies['MovieID'].map(lambda x: item2id[x])

In [5]:
# Aux

In [6]:
users['aux'] = users['Occupation']

In [7]:
movies.Genres = movies.Genres.map(lambda x: x.split('|')[0])
movies[['MovieID', 'Genres']].to_csv('ml_movies.csv', index=False)

In [8]:
users[['User_ID', 'aux']].to_csv('ml_users.csv', index=False)

In [9]:
movies[['MovieID', 'Genres']].Genres.nunique()#, users[['User_ID', 'aux']].aux.nunique()

18

In [10]:
ratings = ratings.sort_values(['User_ID', 'Timestamp'])[['User_ID', 'MovieID']].reset_index(drop=True)

In [11]:
ratings['User_ID'].value_counts().describe()

count    6040.000000
mean      165.597517
std       192.747029
min        20.000000
25%        44.000000
50%        96.000000
75%       208.000000
max      2314.000000
Name: User_ID, dtype: float64

In [12]:
ratings_copy = ratings.copy()

In [13]:
items = ratings.groupby('User_ID')['MovieID'].unique()
test_data = items.map(lambda x: x[-1]).reset_index().values
train_data = ratings_copy.append(pd.DataFrame(test_data, columns=['User_ID', 'MovieID'])).drop_duplicates(keep=False)

/var/folders/ty/d0l26xd500q6hk3ryfccwjy00000gn/T/ipykernel_3732/1184681302.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  train_data = ratings_copy.append(pd.DataFrame(test_data, columns=['User_ID', 'MovieID'])).drop_duplicates(keep=False)

In [14]:
item_num = ratings_copy.MovieID.nunique()
item_list = set(range(item_num))
def noninteracted_1(x):
    lst = list(item_list - set(x))
    sampled = np.random.choice(lst, len(x))
    return sampled
items.map(noninteracted_1)

User_ID
0       [1192, 2566, 2360, 2903, 3214, 1007, 3542, 288...
1       [2549, 1529, 1174, 52, 3287, 2517, 2029, 1475,...
2       [524, 128, 3621, 1860, 924, 141, 1321, 2756, 2...
3       [585, 736, 1297, 1007, 2584, 286, 639, 2618, 7...
4       [1900, 1004, 3535, 3651, 1463, 3577, 3336, 331...
                              ...
6035    [3509, 1702, 3132, 1517, 699, 2543, 3538, 1863...
6036    [2888, 2004, 602, 2332, 3111, 1399, 2042, 2796...
6037    [3308, 805, 3128, 1306, 2013, 1672, 1942, 2226...
6038    [2118, 2140, 3349, 256, 842, 725, 3319, 1809, ...
6039    [1252, 1039, 1810, 298, 2248, 532, 267, 1427, ...
Name: MovieID, Length: 6040, dtype: object

In [15]:
neg_item = items.map(lambda x: x[:-1]).map(noninteracted_1)
train_data['neg_item'] = np.concatenate(neg_item.values)

In [16]:
train_data.to_csv('main_data_train_ml.csv', index=False)

In [17]:
items = pd.concat([train_data.groupby('User_ID')['neg_item'].unique(), ratings.groupby('User_ID')['MovieID'].unique()], axis=1).apply(lambda x: x[0].tolist()+x[1].tolist(), axis=1)

In [19]:
item_num = ratings_copy.MovieID.nunique()
item_list = set(range(item_num))
def noninteracted(x):
    lst = list(item_list - set(x))
    sampled = np.random.choice(lst, 99)
    result = [x[-1]] + sampled.tolist()
    return result
res = items.map(noninteracted)

In [20]:
np.save('main_data_test_ml.npy', res.reset_index().values, allow_pickle=True)

In [21]:
ratings.User_ID.max(), ratings.MovieID.max()

(6039, 3882)